@use "sass:map";
// @import "../node_modules/bootstrap/scss/functions";

// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/variables-dark";

// // 5. Include remainder of required parts
// @import "../node_modules/bootstrap/scss/maps";
// @import "../node_modules/bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/badge";
$font-family-base: "Roboto Slab", serif;
@import "../node_modules/bootstrap/scss/bootstrap";

$milopetres-colours: (
	"accent-1": #F88F6A,
	"accent-2": #F0E7CC,
	"bg": #50443F,
	"fg": #A2928E
);

body {
	background-color: $gray-100;
}

.header {
	background-color: map.get($milopetres-colours, "accent-1");
}