<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ site.title }}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/main.css" />
		<meta
			name="description"
			content="Λαογραφική εκπομπή Μυλόπετρες, live"
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
	</head>
	<body>

		{% if site.environment == 'production' %}
		<!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
		<script>
			(function(f, a, t, h, o, m){
				a[h]=a[h]||function(){
					(a[h].q=a[h].q||[]).push(arguments)
				};
				o=f.createElement('script'),
				m=f.getElementsByTagName('script')[0];
				o.async=1; o.src=t; o.id='fathom-script';
				m.parentNode.insertBefore(o,m)
			})(document, window, '//an.bantolas.dev/tracker.js', 'fathom');
			fathom('set', 'siteId', 'LIBUB');
			fathom('trackPageview');
			</script>
		<!-- / Fathom -->
		{% endif %}

		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v16.0" nonce="7iUY3HDB"></script>
		<div class="container-fluid p-4 header">
			<h1 class="display-3">Μυλόπετρες</h1>
			<small class="text-body-secondary">με τον Στέφανο Μπαντόλα</small>
		</div>
		<div class="container-md mt-4">
			<div class="row">
				<div class="col-md">
					<h3><span class="badge text-bg-{{ "danger" if site.isLive else "secondary" }}">Live</span></h3>
				</div>
			</div>
			<div class="row gy-3">
				<div class="col-md-7">

					{% include "live.html" %}
					
					<a href="https://www.facebook.com/stefanos.badolas/live" class="btn btn-primary mt-3" target="_blank" rel="noopener noreferrer">παρακολουθηστε στο facebook</a>
				</div>
				<div class="col-md">
					<blockquote class="blockquote">
						<p>
							Μυλόπετρες της Παράδοσης και του Πολιτισμού από την αρχή
							μαζι σας. Με πολύ μουσική, νεα και αρκετό χιούμορ!
						</p>
					</blockquote>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col-md">
					<h2>Χορηγοί</h2>
					<a href="https://varelialioutas.gr/" target="_blank" rel="noopener noreferrer">
						<img src="img/lioutas_sponsor.png" class="img-fluid" alt="Χορηγός Στέργιος Λιούτας: Βιοτεχνία Βαρελοποιίας - Είδη Λαϊκής Τέχνης & Οικιακής Χρήσης">
					</a>
				</div>
			</div>

		</div>
	<script>
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					});
				}
			});
		}
	</script>
	</body>
</html>
