---
fb-video: >
  <div class="fb-video"
  data-href="https://www.facebook.com/stefanos.badolas/videos/741417377634913/"
  data-width="auto" data-show-text="false"><blockquote
  cite="https://www.facebook.com/stefanos.badolas/videos/741417377634913/"
  class="fb-xfbml-parse-ignore"><a
  href="https://www.facebook.com/stefanos.badolas/videos/741417377634913/">Μυλόπετρες
  28/3/22</a><p>Μυλόπετρες Live-Δημοσκόπηση</p>Δημοσιεύτηκε από <a
  href="https://www.facebook.com/stefanos.badolas">Stefanos Badolas</a> στις
  Τρίτη, 28 Μαρτίου 2023</blockquote></div>
---
