{# Umami tracking code #}
{% if site.environment == 'production' %}
<script async defer data-website-id="1eb874cf-9b10-4b87-8369-be75f1b1809b" src="https://umami.bantolas.dev/umami.js"></script>
{% endif %}