<div class="fb-video" data-href="https://www.facebook.com/ThisMorning/videos/762168105575912/" data-width="auto" data-show-text="false"><blockquote cite="https://www.facebook.com/ThisMorning/videos/762168105575912/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ThisMorning/videos/762168105575912/">Hit singer Lewis Capaldi is a man of many talents. 🤭</a><p>Hit singer Lewis Capaldi is a man of many talents. 🤭</p>Posted by <a href="https://www.facebook.com/ThisMorning/">This Morning</a> on Friday, 24 March 2023</blockquote></div>